node_modules
npm-debug.log
dist
build
.DS_Store
.git
.gitignore
.env
.env.*
backups
client/node_modules
client/build
client/dist
server/node_modules
server/uploads
server/build
server/dist
*.md
*.log 